<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
       name="hole">

  <!-- hole -->
  <xacro:include filename="$(find ur_description)/urdf/hole.urdf.xacro"/> 
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_footprint" />
    <origin xyz="0.0 1 0.1" rpy="${pi/2} 0 0" />   <!--<origin xyz="0.0 1 0.1" rpy="${pi/2} 0 0" /> -->
  </joint>



 
</robot>
