<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/peg.urdf.xacro"/>
  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

 
  
  <joint name="peg_joint" type="fixed">
    <parent link="ee_link" />
    <child link = "base_peg" />
    <origin xyz="0.026 0 0" rpy="0 ${pi/2}  0" />
    <dynamics damping="100.0" friction="100.0"/>
  </joint>

</robot>
